body {
  font-family: 'Roboto', sans-serif;
  background-color:#FFFFFF;
  color: #434455;
}
.logo{font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
/* line-height: 21px; */ 
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4D5AE5;
text-decoration: none;}

nav span{font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
/* line-height: 21px; */ 
line-height: 1.16;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #2e2f42;}

.header-nav .li{list-style: none;

}

a{text-decoration: none;
   
}

.nav{ 
font-weight: 500;
font-size: 16px;
/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: #2e2f42;}

.nav:hover{color:#404bbf ;}
.nav:focus{color: #404bbf;}

.header-mail-tel{
font-size: 16px;
/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;
}
.header-mail-tel:hover{
    color: #404bbf;
}

.header-mail-tel:focus{color: #404bbf;}

.header-address{font-style: normal;}

ul{list-style: none;}

.head{
  background-color: #2e2f42;
}

.head-title{
font-size: 56px;
/* line-height: 60px; */ 
line-height: 1.07;
letter-spacing: 0.02em;
text-align: center;
color: #fff;}

.head-button{
font-weight: 500;
font-size: 16px;
/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
background-color: #4D5AE5;
cursor: pointer;}

 .head-button:hover{
  background-color: #404BBF;
 }

.head-button:focus{
  background-color: #404BBF;
}

.features{overflow: hidden;
  clip: rect(0, 0, 0, 0);}

.features-subtitle{
font-weight: 500;
font-size: 20px;
/* line-height: 24px; */ 
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;}

.features-text{
font-size: 16px;
/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;}

.team-title{
  font-size: 36px;
  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;}

 .team{background-color: #f4f4fd;}

 .team-item{background-color: #fff;}

 .team-list{background-color: #fff;}


.team-name{
font-weight: 500;
font-size: 20px;
/* line-height: 24px; */ 
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
color: #2e2f42;}

.team-work{
font-size: 16px;
/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;}

.portfolio-title {
  font-size: 36px;
  /* line-height: 40px; */
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;}

.portfolio-name{
font-weight: 500;
font-size: 20px;
/* line-height: 24px; */ 
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;}

.portfolio-text{
font-size: 16px;
/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: #434455;}

.footer-text{
font-size: 16px;
/* line-height: 24px; */ 
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;}

.footer{background-color:#2e2f42}

.text-light{color: #f4f4fd;}